.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 1px solid black;
    background-color: black;
}

.cart-field {
    position: relative;
}


.cart-block {
    display: flex;
    flex-direction: column;
    position: absolute;

    border: 1px solid black;
    top: 55px;
    right: 10px;
    background-color: white;
}

.cart-block::after {
    content: '';
    position: absolute;
    right: 20px;
    top: -6px;
    width: 10px;
    height: 10px;
    border-left: 1px solid black;
    border-top: 1px solid black;
    background-color: white;
    transform: rotate(45deg);
}
.cart-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px;
}
.product-bio {
    display: flex;
    flex-direction: column;
}
.invisible {
    display: none;
}

.buy-btn {
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    background-color: black;
    color: white;
}

.buy-btn:hover {
    background-color: white;
    color: black;
}

.btn-cart {
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    background-color: white;
    color: black;
}

.btn-cart:hover {
    background-color: black;
    color: white;
}

.products {
    display: flex;
    justify-content: space-between;
    /*flex-direction: row;*/

}

.product-item {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.e-shop {
    font-size: 16px;
    font-weight: bold;
    margin: 10px;
    color: #FFFFFF;
}